#offices {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 3px solid #1a2456;
    border-radius: 0px 0px 10px 10px;
    justify-content: center;
    width: 100%;
}

.office {
    border-radius: 0px 15px 15px 15px;
    background-color: #1a2456;
    color: white;
    padding: 5px;
}

.officeTitle {
    font-style: italic;
}

#emailForm {
    max-width: 320px;
    border-radius: 15px;
    background-color: #ff8b68;
    padding: 10px;
    text-align: left;
    place-items: center;
    display: flex;
}

/* Using border-box to keep things consistently sized */
#emailForm input, label, textarea, button, p {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 5px;
    box-sizing: border-box;
}

#emailForm label {
    font-size: 1.2rem;
}
#emailForm button, p {
    font-size: 1.3rem;
}

@media screen and (min-width: 600px) and (max-width: 900px) {
    #container {
        margin-left: 100px;
        margin-right: 100px;
    }

    .office {
        max-width: 300px;
    }

    #emailForm {
        max-width: 600px;
    }
}

@media screen and (min-width: 901px) {
    #container {
        margin-left: 200px;
        margin-right: 200px;
    }

    #offices {
        grid-template-columns: 1fr 1fr 1fr;
    }


    #emailForm {
        max-width: 900px;
    }
}