img {
    max-width: 320px;
    border-radius: 10%;
}

.showcase {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-bottom: 20px;
    align-items: center;
}

.showcase p{
    font-size: 1.1rem;
}

.blurb {
    font-size: 1.2rem;
}

@media (max-width: 480px) {
    .showcase {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 481px) and (max-width: 600px) {
    img {
        max-width: 480px;
    }
}

@media (min-width: 601px) and (max-width: 800px) {
    img {
        max-width: 600px;
    }
}

@media (min-width: 801px) and (max-width: 1200px) {
    img {
        max-width: 800px;
    }
}

@media (min-width: 1201px) {
    img {
        max-width: 1080px;
    }
}