
name: Run eslint

on:
    # Runs on pushes targeting the default branch
    push:
      branches: ['main']
    pull_request:
        # The branches below must be a subset of the branches above
        branches: [ "main" ]

jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v3
            - uses: pnpm/action-setup@v4
              with:
                version: 8.15.1
            - name: Set up Node
              uses: actions/setup-node@v3
              with:
                node-version: 18
                cache: 'pnpm'
            - name: Install dependencies
              run: pnpm install
            - name: Lint
              run: pnpm run lint
